<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Kashtech Solutions</title>

    <!-- theme meta -->
    <meta name="theme-name" content="mono" />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="assets/plugins/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="assets/plugins/simplebar/simplebar.css" rel="stylesheet" />

    <!-- assets/plugins CSS STYLE -->
    <link href="assets/plugins/nprogress/nprogress.css" rel="stylesheet" />



    <link href="assets/plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />



    <link href="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />



    <link href="assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />



    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">



    <link href="assets/plugins/toaster/toastr.min.css" rel="stylesheet" />


    <!-- MONO CSS -->
    <link id="main-css-href" rel="stylesheet" href="assets/css/style.css" />

    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet" />


    <!-- FAVICON -->
    <link href="assets/assets/images/favicon.png" rel="shortcut icon" />

    <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <script src="assets/plugins/nprogress/nprogress.js"></script>
</head>


<body class="navbar-fixed sidebar-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>


    <div id="toaster"></div>


    <!-- ====================================
    ——— WRAPPER
    ===================================== -->
    <div class="wrapper">


        <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <%- include('components/sidenav'); -%>



            <!-- ====================================
      ——— PAGE WRAPPER
      ===================================== -->
            <div class="page-wrapper">

                <!-- Header -->
                <%- include('components/header') -%>

                    <!-- ====================================
        ——— CONTENT WRAPPER
        ===================================== -->
                    <style>
                        .content-wrapper {
                            background-color: white !important;
                        }

                        /* #viewer {
              width: 100px;
            } */
                        .img--105 {
                            width: 105px;
                            height: 105px;
                            border-radius: 8px;
                        }

                        .eng {
                            color: dark !important;
                            /* font-size: 20px !important; */

                        }

                        .span {
                            color: #1E2022 !important;
                            font-size: 20px !important;
                            font-weight: bolder !important;
                            margin: 4px;
                        }

                        .form {
                            background-color: white !important;
                            border: 1px solid rgb(230, 224, 224);
                            border-radius: 20px !important;
                            padding: 20px;
                            margin: 10px;
                        }

                        .btn--container {
                            display: flex;
                            justify-content: flex-end;
                            gap: 20px;
                            margin: 10px;
                        }

                        .btn--primary {
                            background-color: #0B5E65;
                            color: white;
                            padding: 10px 20px;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                        }

                        .btn--reset {
                            background-color: #DCDCDE;
                            color: #000;
                            padding: 10px 20px;
                            border: 1px solid #ced4da;
                            border-radius: 5px;
                            cursor: pointer;
                        }

                        .img--50 {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                        }

                        .max-85 {
                            max-width: 85px;
                        }

                        .add:hover {
                            background-color: #0B5E65;
                            color: rgb(214, 209, 209);
                        }

                        .dismiss {
                            background-color: #D1D2D4;
                        }

                        .tr {
                            background-color: #F2FCFD !important;
                        }
                    </style>
                    <div class="content-wrapper p-5  border border-0">
                        <div>
                            <img src="https://grofresh-admin.6amtech.com/public/assets/admin/img/attribute.png"
                                alt="camera">
                            <span class="span">Attribute Update</span>
                        </div>
                        <div class=" border border-1 form ">
                            <form action="/productattribute" method="get" class="row d-flex justify-content-end mb-2">

                                <label for="editattribute">Name (EN)</label>
                                <input type="text" placeholder="size" class="form-control text-secondary" required
                                    id="editattribute">
                                <div class="d-flex justify-content-end gap-4 m-3">
                                    <input type="reset" class="btn dismiss" value="Reset">
                                    <input type="submit" class="btn--primary btn add " value="Update">
                                </div>
                                <input type="hidden" name="_token" value="2tvumO54sfGx6nXptASOz8g8fz7rBHr5dGiyyu0A"
                                    autocomplete="off">
                            </form>
                        </div>
                    </div>
                    <!-- Footer -->
                    <%- include('components/Footer') -%>

            </div>
    </div>






    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/plugins/simplebar/simplebar.min.js"></script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>



    <script src="assets/plugins/apexcharts/apexcharts.js"></script>



    <script src="assets/plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>



    <script src="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
    <script src="assets/plugins/jvectormap/jquery-jvectormap-us-aea.js"></script>



    <script src="assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('input[name="dateRange"]').daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            jQuery('input[name="dateRange"]').on('apply.daterangepicker', function (ev, picker) {
                jQuery(this).val(picker.startDate.format('MM/DD/YYYY'));
            });
            jQuery('input[name="dateRange"]').on('cancel.daterangepicker', function (ev, picker) {
                jQuery(this).val('');
            });
        });
    </script>



    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>



    <!-- <script src="assets/plugins/toaster/toastr.min.js"></script> -->



    <script src="assets/js/mono.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/map.js"></script>
    <script src="assets/js/custom.js"></script>




    <!--  -->


</body>

</html>