<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('components/Nav'); %>
      </header>
      
    <h1>Im home</h1>


    <footer>
        <%- include('components/Footer'); %>
    </footer>
</body>
</html>