#navb,#dm{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#home{
    background: url(home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}